*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
}
.container{
    margin: 0 auto;
   /* max-width: 1170px;*/
    margin-left: 270px;
}
.iconka1{
    padding-top: 20px;
    padding-left: 215px;
}
.menu{
    margin-top: -35px;
    text-align: center;
}
.menu li.active {
	color: #fff;
    background: #ffbb42;
}
.menu >li{
    display:inline-block;
 }  
 .menu > li >a{
     font-size: 13px;
     text-decoration: none;
     text-align: left; 
     padding-inline-start: 40px;
     color: #868686;
     display: block; 
}
.block1{
    background: #709dca;
    height: 600px;
    margin-top: 30px;
}
.title1{
    padding: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color:white;
}
.title2{
    text-align: center;
    font-size: 16px;
    color:white;
    margin-top:-90px;
}
.item{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex; 
    margin-top: 40px;
    justify-content: center;
}
.input1, .input2, .input3{
    margin-right: 20px;
}
.class1{
    background-size: 10%;
    background-repeat: no-repeat;
    padding-left: 46px;
    background-position-x: 10px;
    background-position-y: center;
    border: none;
    height: 50px;
    width: 200px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='485.158px' height='485.157px' viewBox='0 0 485.158 485.157' style='enable-background:new 0 0 485.158 485.157;' xml:space='preserve'%3e%3cg%3e%3cg id='Layer_2_5_'%3e%3cpath d='M374.07,326.221c-60.435-21.791-79.744-40.18-79.744-79.543c0-4.342,0.625-7.617,1.691-10.352 c4.743-12.161,18.245-13.512,24.857-48.836c3.365-17.954,19.663-0.292,22.779-41.27c0-16.328-8.897-20.392-8.897-20.392 s4.52-24.173,6.292-42.771C343.246,59.881,327.517,0,243.638,0c-0.362,0-0.704,0.02-1.058,0.025 C242.223,0.019,241.882,0,241.516,0c-83.878,0-99.604,59.881-97.409,83.057c1.771,18.598,6.294,42.771,6.294,42.771 s-8.897,4.063-8.897,20.392c3.12,40.978,19.417,23.315,22.779,41.27c6.613,35.324,20.119,36.675,24.86,48.836 c1.064,2.734,1.689,6.01,1.689,10.352c0,39.363-19.313,57.752-79.747,79.543c-60.62,21.859-87.884,44.15-87.884,59.354 c0,15.182,0,99.583,0,99.583h219.227h0.302h219.227c0,0,0-84.401,0-99.583C461.957,370.371,434.697,348.08,374.07,326.221z' style='fill: rgb(110, 110, 110);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
}
.class2{
    background-size: 10%;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position-x: 10px;
    background-position-y: center;
    border: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='612px' height='612px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3e%3cg%3e%3cpath d='M306.768,346.814h0.131c4.615,0,9.176-1.339,12.866-3.777l1.001-0.643c0.218-0.142,0.446-0.271,0.675-0.424l11.658-9.645 l278.259-229.624c-0.576-0.795-1.557-1.339-2.602-1.339H3.233c-0.751,0-1.448,0.272-2.003,0.729l291.125,239.954 C296.024,345.083,301.259,346.814,306.768,346.814z M0,133.899v340.37l208.55-168.471L0,133.899z M403.668,306.941L612,474.356 V135.031L403.668,306.941z M337.431,361.585c-8.305,6.814-19.168,10.57-30.576,10.57c-11.451,0-22.304-3.734-30.587-10.516 l-47.765-39.394L0,506.806v0.587c0,1.753,1.502,3.244,3.276,3.244h605.491c1.741,0,3.232-1.491,3.232-3.255v-0.544L383.693,323.4 L337.431,361.585z' style='fill: rgb(110, 110, 110);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    height: 50px;
    width: 200px;
}
.class3{
    background-size: 10%;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position-x: 10px;
    background-position-y: center;
    border: none;
    width: 200px;
    height: 50px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='16.877px' height='16.877px' viewBox='0 0 16.877 16.877' style='enable-background:new 0 0 16.877 16.877;' xml:space='preserve'%3e%3cg%3e%3cpath d='M5.301,5.587L1.404,1.688c0.503-0.503,1.005-1.007,1.509-1.511C3.146-0.056,3.522-0.06,3.756,0.17l3.036,3.039 c0.232,0.232,0.232,0.614-0.003,0.848L6.124,4.721L5.505,5.34C5.429,5.417,5.36,5.499,5.301,5.587z M8.507,11.938 c-0.638-0.549-1.25-1.132-1.844-1.725C6.07,9.616,5.489,9.006,4.939,8.365c-0.45-0.52-0.538-1.273-0.303-1.907L0.636,2.457 c-0.931,0.957-0.812,3.33,0.208,5.415c0.438,0.902,1.006,1.716,1.593,2.49c0.586,0.768,1.229,1.494,1.906,2.176 c0.679,0.681,1.401,1.327,2.171,1.913c0.774,0.589,1.59,1.153,2.486,1.59c2.088,1.019,4.462,1.131,5.418,0.199l-4.001-4.001 C9.783,12.474,9.029,12.387,8.507,11.938z M16.702,13.119l-3.036-3.037c-0.233-0.23-0.615-0.23-0.848,0.003h-0.002l-0.667,0.666 l-0.615,0.618c-0.076,0.076-0.159,0.143-0.247,0.205l3.896,3.898c0.504-0.505,1.007-1.007,1.512-1.51 C16.93,13.729,16.935,13.352,16.702,13.119z' style='fill: rgb(110, 110, 110);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
}
.class4{
    width: 200px;
    height: 50px;
    color: #fff;
    background: #ffbb42;
}
.laptop{
    margin-top: -275px;
    margin-left: 645px;
}
.block2{
    margin-top: 200px;
    font-family: 'Times New Roman', serif;
    /* margin-left: 265px; */
    /* width: 1170px; */
}
.sevice{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.title3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.test_1{
        display: flex;
        flex-direction: column;
        margin-left: 370px;
        justify-content: space-between;
}
.icons{
     margin-top: 90px;
    color: #848484;
    padding-left: 50px;
}
.picture1, .picture2, .picture3, .picture4, .picture5, .picture6{
    margin-left: -80px;
    margin-bottom: -50px;
}
.contact, .cod{
        margin-top: 80px;
        padding-left: 50px;
        color: #848484;
}
.test_2{
        display: flex;
        flex-direction: column;
        margin-left: 1080px;
        margin-top: -580px;
}
.design{
    margin-top: 90px;
    color: #848484;  
}
.retina, .trend{
    margin-top: 80px; 
    color: #848484; 
}
.paragraf1, .paragraf2, .paragraf3, .paragraf4, .paragraf5, .paragraf6{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #394b50;
}
.test_3{
    display: flex;
    flex-direction: row; 
}
.pic_table{
    margin-top: 160px;
    height: 622px;
    width: 50%;
}
.about{
    background: #ffc155;
    height: 622px;
    margin-top: 160px;
    width: 50%;
}
.title4{
    padding-top: 160px;
    font-size: 30px;
    color: #fff;
    margin-left: 80px;

}
.text7{
    margin-left: 80px;
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
}
.class5{
    border: 2px solid #e7ad48;
    width: 145px;
    height: 45px;
    background: #ffc155;
    color: #fff;
    margin-top: 60px;
    margin-left: 80px;
}
.title6{
    color: #394b50;
    font-size: 18px;
    text-align: center;
}
.title5{
    color: #394b50;
    font-size:30px;
    text-align: center;
    padding-top: 140px;
}
.price{
    height: 900px;
    background: #e7edf3;
}
.item2{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    display: flex;  
    margin-top: 90px;
    background-position-x: 20px;
    justify-content: center;
}
.price1:hover{
    background-color: #709dca;
    transform: scale(1.2);
}
.title7:hover{
    color: white;
}
.price2:hover{
    color: white;
}
.period:hover{
    color:white;
}
.account1:hover{
    color:white;
}
.time:hover{
    color:white;
}
.service1:hover{
    color: white;
}
.price1{
    width: 20%;
    height: 400px;
    background: white;
    text-align: center;
    border: 2px solid #ccd5df;
}
.title7{
    color: #8b949d;
    font-size: 25px;
    padding-top: 40px;
    font-weight: bold;
}
.price2{
    color: #ffbb42;
    font-size: 50px;
}
.period{
    font-size: 20px;
    color: #818b95;
    padding-bottom: 30px;
}
.account1, .time, .service1{
    font-size: 14px;
    color: #b5bbc1;
    padding-top: 15px;
    padding-bottom: 15px;
}
.line{
    border: none;
    background-color:#b5bbc1; 
    color: #b5bbc1;
    height: 1px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}
.start{
    width: 120px;
    height: 40px;
    color: #fff;
    background: #ffbb42;
    outline: none;
}
.work{
    height: 860px;
    background: #fff;
}
.title8{
    font-size:30px;
    font-weight: bold;
    color:#394b50;
    padding-top: 150px;
    text-align: center;
}
.item3{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-left: 120px;
}
.step{
    margin-right: 110px;
}
.iconka2{
    padding-bottom: 100px;
    padding-left: 60px;
}
.work1{
    font-size:20px;
    font-weight: bold;
    text-align: center;
   padding-bottom: 30px;
   color: #394b50;
}
.task{
    color: #7b7b7b;
    font-size: 13px;
    text-align: center;
}
.start1{
    width: 9%;
    height: 45px;
    color: #fff;
    background: #ffbb42;
    outline: none;
    border-radius: 3px;
    margin-top: 95px;
    margin-left: 890px;
}
.commit{
    background: #ffc155;
    height: 900px;
} 
.title9{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    padding-top: 140px;
    text-align: center;
}
.title10{
    color: white;
    padding-bottom: 60px;
    text-align: center;
}
.item4{
   margin-left: 110px;
}
.test_4{
    display: flex;
    flex-direction: column;
}
.test_5{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: -520px;
}
.client1, .client2, .client3, .client4{
    background: #fff;
    width: 570px;
    height: 250px;   
    margin-left: 265px;
    margin-right: 265px;   
}
.faces{
    float: left;
    padding-left: 20px;
    padding-top: 45px;
    padding-right: 32px
}
.comment{
    text-align: left;
    padding-top: 40px;
    font-size: 13px;
    color: #b7b7b7;
}
.sign_1{
    margin-bottom: -50px;
    margin-left: -20px;
}
.sign_2{
    margin-left: 81px;
}
.person{
    padding-top: 30px;
    padding-left: 170px;
    color: #f6772c;
    font-size: 14px;
}
.client1{
    margin-bottom: 20px;
}
.client2{
  margin-bottom: 20px;
}
.profess{
    color: #99a9ae;
    font-size: 14px;
}
.news{
    margin-top: 150px;
    width: 1700px;
}
.class6{
    background-size: 7%;
    background-repeat: no-repeat;
    padding-left: 60px;
    background-position-x: 10px;
    background-position-y: center;
    border: none;
    height: 50px;
    width: 380px;
    border: #cbcbcb solid 1px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='485.158px' height='485.157px' viewBox='0 0 485.158 485.157' style='enable-background:new 0 0 485.158 485.157;' xml:space='preserve'%3e%3cg%3e%3cg id='Layer_2_5_'%3e%3cpath d='M374.07,326.221c-60.435-21.791-79.744-40.18-79.744-79.543c0-4.342,0.625-7.617,1.691-10.352 c4.743-12.161,18.245-13.512,24.857-48.836c3.365-17.954,19.663-0.292,22.779-41.27c0-16.328-8.897-20.392-8.897-20.392 s4.52-24.173,6.292-42.771C343.246,59.881,327.517,0,243.638,0c-0.362,0-0.704,0.02-1.058,0.025 C242.223,0.019,241.882,0,241.516,0c-83.878,0-99.604,59.881-97.409,83.057c1.771,18.598,6.294,42.771,6.294,42.771 s-8.897,4.063-8.897,20.392c3.12,40.978,19.417,23.315,22.779,41.27c6.613,35.324,20.119,36.675,24.86,48.836 c1.064,2.734,1.689,6.01,1.689,10.352c0,39.363-19.313,57.752-79.747,79.543c-60.62,21.859-87.884,44.15-87.884,59.354 c0,15.182,0,99.583,0,99.583h219.227h0.302h219.227c0,0,0-84.401,0-99.583C461.957,370.371,434.697,348.08,374.07,326.221z' style='fill: rgb(110, 110, 110);'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
}
.class7{
    background-size: 7%;
    background-repeat: no-repeat;
    padding-left: 68px;
    border: #cbcbcb solid 1px;
    background-position-x: 10px;
    background-position-y: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='612px' height='612px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3e%3cg%3e%3cpath d='M306.768,346.814h0.131c4.615,0,9.176-1.339,12.866-3.777l1.001-0.643c0.218-0.142,0.446-0.271,0.675-0.424l11.658-9.645 l278.259-229.624c-0.576-0.795-1.557-1.339-2.602-1.339H3.233c-0.751,0-1.448,0.272-2.003,0.729l291.125,239.954 C296.024,345.083,301.259,346.814,306.768,346.814z M0,133.899v340.37l208.55-168.471L0,133.899z M403.668,306.941L612,474.356 V135.031L403.668,306.941z M337.431,361.585c-8.305,6.814-19.168,10.57-30.576,10.57c-11.451,0-22.304-3.734-30.587-10.516 l-47.765-39.394L0,506.806v0.587c0,1.753,1.502,3.244,3.276,3.244h605.491c1.741,0,3.232-1.491,3.232-3.255v-0.544L383.693,323.4 L337.431,361.585z' style='fill: rgb(110, 110, 110);'%3e%3c/path%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e");
    height: 50px;
    width: 310px;
}
.class8{
    width: 220px;
    height: 50px;
    color: #fff;
    background: #ffbb42; 
}
.foto_map{
    margin-left: 295px;
    margin-right: 295px;
    margin-top: 40px;
}
.line1{
    border: none;
    background-color:#b5bbc1; 
    color: #b5bbc1;
    height: 1px;
    width: 1170px;
    margin-left: 265px;
    margin-right: 265px;
    margin-top:220px;
}
.circule{
    background-color: #394b50;
    border-radius: 140px;
    width: 280px;
    height: 280px;
    position: relative;
    margin-left: 710px;
    margin-top: -500px;
}
.circule::after {
    border: medium solid transparent;
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    height: 0;
    width: 0;
    border-color: #394b50 rgba(117, 117, 114, 0) rgba(255, 212, 52, -1);
    border-width: 16px;
    margin-left: -16px;
    margin-top: -2px;
}
.address1, .address2, .address3, .address4,.address5, .address6{
    margin-left: -2px;
    font-size: 13px;
    color: #aeb7ba;
    text-align: center;
    margin-bottom: 5px
}
.address1{
    padding-top: 54px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}
.address6{
    color: #ffbb42; 
}
.iconka3{
    margin-top: 20px;
    margin-left: 828px;
}
.menu1{
    margin-top: 70px;
    margin-left: 487px;
}
.menu1 >li{
    display:inline-block;
 }  
 .menu1 > li >a{
     font-size: 13px;
     text-decoration: none;
     text-align: left; 
     padding-inline-start: 40px;
     color: #536367;
     display: block; 
}
.iconka4{
    margin-top: 20px;
    margin-left: 855px;
}
.number{
    font-size: 22px;
    color: #394b50;
    margin-top: -27px;
    margin-bottom: 40px;
    text-align: center;
}
.footer{
    background: #709dca;
    height: 45px;
    text-align: center;
    padding-top: 25px;
    color: white;
}